.main-app-grid {
  width: 100vw;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 30px 50px calc(100vh - 150px);
  grid-template-areas:
    "logout"
    "search"
    "main";
  overflow: hidden;
}

.logout-grid-cell {
  display: grid;
  grid-area: logout;
  padding-left: 90vw;
  padding-right: 20px;
  overflow: hidden;
}

.view-grid {
  display: grid;
  grid-area: main;
  grid-template-columns: 60vw 40vw;
  overflow: hidden;
}

.view-grid>div {
  padding: 8px 4px;
  height: calc(100vh - 100px);
}

.view-top-nav-grid {
  display: grid;
  grid-template-rows: 20% 80%;
  overflow: hidden;
}

.event-button-grid {
  display: grid;
  grid-template-rows: 100%;
  overflow: hidden;
}

.nav-button {
  background-color: #8EB19D;
}

.two-button-column {
  display: grid;
  grid-template-columns: 50% 50%;
  border: 2px solid #38023B;
  overflow: hidden;
}

.two-button-column>button {
  padding-top: 5px;
  padding-bottom: 5px;
}

.three-button-column {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  border: 2px solid #38023B;
  overflow: hidden;
}

.three-button-column>button {
  padding-top: 5px;
  padding-bottom: 5px;
}

.user-login {
  width: 400px;
  font-size: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 50px 50px;
  grid-template-areas:
    "username password"
    "login create";
  overflow: hidden;
}

.username {
  grid-area: username;
  margin-top: 5px;
  margin-right: 5px;
}

.password {
  grid-area: password;
  margin-top: 5px;
}

.login {
  grid-area: login;
  margin-right: 5px;
}

.login-display {
  margin-top: 10%;
  margin-left: 25%
}

.create {
  grid-area: create;
}

.login-button {
  background-color: inherit;
  width: 97%;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  color: #D1F8F9;
  font-weight: bold;
  font-size: 12px;
  background: linear-gradient(to bottom right, #4F0354, #38023B);
}

.login-button:hover {
  color: #AEC3B0;
}

.create-button {
  background-color: inherit;
  width: 97%;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 3px;
  font-weight: bold;
  font-size: 12px;
  color: #D1F8F9;
  background: linear-gradient(to bottom right, #4F0354, #38023B);
}

.create-button:hover {
  color: #AEC3B0
}

.login-input {
  padding-top: 5px;
  padding-bottom: 5px;
  width: 95%;
}

.logout-button {
  background-color: inherit;
  width: 100%;
  font-size: 25px;
  border: none;
  text-align: right;
  color: #38023B;
}

.calendar-scroll-wrapper {
  overflow-y: scroll;
  height: calc(100vh - 180px);
}

.calendar-main-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);
  background-color: #FFFFFF;
  overflow: hidden;
}

.calendar-main-grid>span {
  height: 15.7vh;
  border: 1px solid #BFE1FF;
  text-align: center;
  overflow-y: scroll;
}

.calendar-weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  text-align: center;
  font-size: 16px;
  color: #D1F8F9;
  background-color: #38023B;
  overflow: hidden;
}

.calendar-weekdays>span {
  height: 3vh;
  border: 1px solid #38023B;
}

.calendar-item {
  text-align: right;
  color: #8EB19D;
  font-weight: bolder;
}

.calendar-select-button {
  background-color: inherit;
  border: None;
}

.calendar-select-button:hover {
  color: #8EB19D;
  border: 2px solid #BFE1FF;
  box-shadow: 3px 1px 1px #BFE1FF;
}