.app {
  background-color: #8EB19D;
  height: 100vh;
  overflow: hidden;
}

.header {
  font-size: 50px;
  font-weight: 600;
  text-align: center;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 1%;
  font-size: 15px;
  text-align: center;
}

.search-form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1%;
  font-size: 15px;
  text-align: right;
  padding-left: 50vw;
}

.search-form-grid>span {
  height: 1vh;
  border: None;
  margin-right: 10px;
}

.search-input {
  width: 100%;
}

.search-placeholder {
  height: 1vh;
  margin: 1%;
  font-size: 15px;
}